* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0px;
}

/*Ceci est l'import pour mon header*/
header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(99, 99, 99, 0.8);
  margin-bottom: 5px;
  height: 63px;
  position: relative;
}
header h1 {
  margin: 18px 0 0 0;
}
header h1 img {
  width: 162px;
}
header i {
  position: absolute;
  left: 20px;
  top: 40%;
}

/*Ceci est l'import de la section localisation du main*/
.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 10px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 2px;
}
.localisation i {
  margin-left: 55px;
}
.localisation input {
  border: 0px;
  background-color: #EAEAEA;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.presentation .presentation-content {
  text-align: center;
  max-width: 600px;
  margin-right: 10%;
  margin-left: 10%;
}
.presentation .presentation-content h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
.presentation .presentation-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}
.presentation .buttonhightlight :hover {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
}

button.pinkButton {
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
  border: none;
  width: 218px;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  border-radius: 33px;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
button.pinkButton:hover {
  opacity: 70%;
}
button.pinkButton .lebouton {
  background-color: black;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}
.fonctionnement h2 {
  font-weight: 700;
  font-size: 24px;
}
.fonctionnement .align {
  width: 100%;
}
.fonctionnement .fonction-article {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #F6F6F6;
  font-weight: 500;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  align-items: center;
  height: 72px;
}
.fonctionnement .fonction-article:hover i {
  color: #9356DC;
}
.fonctionnement i {
  margin-left: 20px;
  color: #7E7E7E;
}
.fonctionnement p {
  margin-left: 20px;
  font-weight: bold;
  font-weight: 500;
}
.fonctionnement span {
  color: white;
  margin-left: -7px;
  height: 18px;
  border: 1px solid;
  padding: 0px 4px;
  border-radius: 50%;
  background-color: #9356DC;
}

.restaurants {
  margin: 15px;
  padding-bottom: 50px;
}
.restaurants .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.restaurants a {
  text-decoration: none;
}
.restaurants .plats {
  position: relative;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  margin-bottom: 15px;
}
.restaurants .plats img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .plats span {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 500;
}
.restaurants .plats .restoName {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.restaurants .plats .restoName h3 {
  margin: 0;
  font-size: 18px;
  color: black;
}
.restaurants .plats .restoName p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: black;
}
.restaurants .plats .hearth {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 24px;
  color: black;
}

/*Ceci est l'import pour mon footer*/
.footer {
  background-color: #353535;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.footer .footerlogo {
  margin-bottom: 10px;
  font-family: shrikhand, sans-serif;
  font-size: 25px;
}
.footer .footerlist {
  list-style: none;
  margin-top: 25px;
  padding: 0px;
}
.footer .footerlien {
  color: white;
  text-decoration: none;
  display: block;
}
.footer .footerlien .footericone {
  margin-right: 10px;
}
.footer i {
  color: white;
}

/*Ceci est l'import concernant mes pages de menu*/
main {
  position: relative;
  background-color: white;
}
main img {
  width: 100%;
  display: block;
  margin-bottom: 0;
  max-height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

header i {
  color: black;
}

.ohmyfoodmenu {
  box-shadow: none;
}

.hearth {
  display: flex;
}

.titremenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F6F6;
  margin-top: -40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}
.titremenu h2 {
  font-family: shrikhand, sans-serif;
  margin-left: 5%;
  margin-top: 6%;
}
.titremenu i {
  font-size: 24px;
  color: #333;
  padding: 20px;
}

.listemenu {
  background-color: #F6F6F6;
  margin-top: -4rem;
  padding: 10px;
  z-index: 1;
  position: relative;
  margin: 0px;
  padding: 1px;
}

.titreplats {
  font-size: 16px;
  font-weight: 300;
  color: black;
  position: relative;
  margin-top: 30px;
  padding-left: 2%;
}
.titreplats::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -10px;
  left: 2%;
}

.articles {
  display: flex;
  flex-direction: column;
}

.cartemenu {
  width: 100%;
  max-height: 50px;
  background-color: white;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 10px;
  overflow: hidden;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.ecart {
  padding-left: 2%;
  padding-right: 4%;
}

.lebouton {
  padding-bottom: 8%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contenuarticle {
  display: block;
  unicode-bidi: isolate;
  flex-wrap: wrap;
}

.cartemenu h3 {
  font-size: 18px;
  padding-top: 15px;
  color: black;
  margin-bottom: 5px;
  margin-top: -5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cartemenu p {
  display: block;
  font-size: 14px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
  margin-bottom: 8px;
}

.menu-prix {
  font-size: 14px;
  color: #353535;
  font-weight: bold;
  margin-top: 15px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.menu-checkmark i {
  color: #99E2D0;
  background-color: white;
  border: 2px solid #99E2D0;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  font-size: 12px;
}
.menu-checkmark {
  font-size: 20px;
  color: #99E2D0;
  background-color: #99E2D0;
  height: 100%;
  width: 50px;
  position: absolute;
  right: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.cartemenu:hover .menu-checkmark {
  right: 0px;
}

.cartemenu:hover .menu-prix {
  transform: translateX(-50px);
}

.cartemenu:hover .contenuarticle {
  max-width: calc(100% - 110px);
}

.cartemenu.in-view {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideEntrees {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slidePlats {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDesserts {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#entrees {
  animation: slideEntrees 1S;
}

#plats {
  animation: slidePlats 2s;
}

#desserts {
  animation: slideDesserts 3s;
}

/*Ceci est l'import concernant mon responsive*/
@media (min-width: 768px) {
  .top {
    box-shadow: none;
  }
  .localisation {
    box-shadow: none;
    margin-bottom: 0px;
  }
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
  }
  .fonctionnement .align {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .fonctionnement .fonction-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .restaurants {
    margin-left: 15%;
    margin-right: 15%;
  }
  .restaurants h2 {
    display: flex;
    flex-direction: row;
  }
  .restaurants .cartes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .restaurants a {
    width: 47%;
  }
  .restaurants a .plats {
    width: 100%;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  }
  .restaurants a .plats img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  footer {
    background-color: #353535;
    position: relative;
    color: white;
    padding: 20px 0;
  }
  footer .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 15%;
  }
  footer .container .footerlogo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  footer .container .footerlist {
    display: flex;
    list-style: none;
    padding: 10px;
  }
  footer .container .footerinterieur {
    margin-right: 10px;
  }
  footer .container .footerlien {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  main img {
    width: 100%;
    max-height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ohmyfoodmenu {
    box-shadow: none;
  }
  .listemenu {
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 10%;
    padding-right: 10%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-bottom: 50px;
    margin-top: -40px;
  }
  .titreplats {
    margin-top: 15px;
  }
  .titremenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F6F6;
    margin-top: 10px;
    padding-bottom: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .titremenu h2 {
    font-family: shrikhand, sans-serif;
    width: 341px;
    height: 27px;
    margin: 0;
  }
  .titremenu i {
    font-size: 24px;
    color: #333;
    padding: 20px;
    margin-top: 0;
  }
}
/*Ceci est l'import concernant mes animations*/
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
@keyframes hide {
  to {
    opacity: 0;
    display: none;
  }
}
.loaderContainer {
  background-color: white;
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide 0s 2s forwards;
}

.hearth {
  display: flex;
}
.hearth .heart-icon {
  transition: opacity 0.5s ease;
}
.hearth .far {
  opacity: 1;
}
.hearth .fas {
  opacity: 0;
  position: absolute;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
}
.hearth:hover .far {
  opacity: 0;
}
.hearth:hover .fas {
  opacity: 1;
}/*# sourceMappingURL=styless.css.map */